.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  border-radius: 5px;
  padding: 0.7em;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: var(--hover-color);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg);
  width: 85%;
  gap: 8px;
  padding: 16px 12px;
  margin: 0 0.8em 0;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(219, 11, 11, 0.25);
  scroll-margin-top: 75px;
}
