.btn {
  color: var(--text-primary);
  background-color: var(--accent-primary);
  border-radius: 5px;
  padding: 0.7em;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: var(--hover-color);
  }
}
.card {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 1px 2px 8px var(--card-shadow-color);
  gap: 1rem;
  padding-bottom: 2rem;
}
