.skills {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  gap: 1.25rem;
}

.progress-bar {
  background-color: var(--bg-color-tertiary);
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 20px;
  background-color: var(--accent-tertiary);
  border-radius: 10px;
  animation: fillProgress 2s ease-in-out forwards;
}

@keyframes fillProgress {
  from {
    width: 0;
  }
}
